@model Vidly_Kurs.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Lista Klientów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klienci</h2>

@if (Model.customers.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
<div class="list-group">
        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Klient</th>
                    <th>Typ Subskrypcji</th>
                    @{//<th>Edytuj</th>
                      }
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
            @{/*
                foreach (var customer in Model.customers)
                {
                    <tr>
                        <td>
                            <a asp-controller="Customer" asp-action="Klient" asp-route-id="@customer.Id"> @customer.Name </a>
                        </td>
                        <td style="margin-left: 10px">
                            @customer.MembershipType.Name
                        </td>
                        <td>
                            <a asp-controller="Customer" asp-action="Edytuj" asp-route-id="@customer.Id">Edytuj</a>
                        </td>
                        <td><a data-customer-id="@customer.Id" class="btn-link js-delete">Usuń</a></td>
                    </tr>
                }
            */}
                </tbody>
            </table>
</div>

}
@section Scripts
{
    <script>
        $(document).ready(function () {

            var table = $('#customers').DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: "",
                    method: "GET"
                },
                columns: [
                    {
                        data: "id",
                        render: function(data, type, customer) {
                            return "<a href='Edytuj/" + data + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data, type, customer) {
                            return "<button class='btn-link js-delete' data-customer-id='" + customer.id + "'>Delete</button>";
                        }
                    }
                ]
            });
        

        $('#customers').on("click", ".js-delete",
            function() {
                var a = $(this)
                bootbox.confirm("Czy na pewno chcesz usunąć tego klienta?",
                    function(result) {
                        if (result) {
                            console.log("tak");
                            $.ajax({
                                url: "/api/customers/" + a.attr("data-customer-id"),
                                method: "DELETE",
                                success: function ()
                                {
                                    table.row(a.parents("tr")).remove().draw();
                                }
                            });
                        }

                    });
            });
    });

    </script>
}
