@model Vidly_Kurs.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Lista Klientów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klienci</h2>

@if (Model.customers.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
<div class="list-group">
        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Klient</th>
                    <th>Typ Subskrypcji</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.customers)
                {
                    <tr>
                <td>
                    <a asp-controller="Customer" asp-action="Klient" asp-route-id="@customer.Id">  @customer.Name    </a>
</td>
                        <td style="margin-left: 10px">
                            @customer.MembershipType.Name
                        </td>
                        <td>
                            <a asp-controller="Customer" asp-action="Edytuj" asp-route-id="@customer.Id">Edytuj</a>
                        </td>
                        <td><a data-customer-id="@customer.Id" class="btn-link js-delete">Usuń</a></td>
                </tr>
            }
                </tbody>
            </table>
</div>

}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#customers .js-delete').on("click",
                function () {
                    var button = $(this)
                    if (confirm("Czy jesteś pewny, że chcesz usunąć klienta?")) {
                        $.ajax({
                            url: "/api/customers/"+ button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
        });
    
    </script>
}
